<!-- Desktop -->
<section class="tab-security-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content mb-3">
          <div class="first fade show" data-tab="one">
            <div class="title HeaderA-Level2 text-center mb-4">
              Benefit From Enterprise-Grade Web Security for Any Business, Any Budget
            </div>
            <div class="row">
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-clock' %}
                </div>
                <p class="mont fs15">24/7 Security & Protection</p>
              </div>
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-rpm' %}
                </div>
                <p class="mont fs15">Improve Performance</p>
              </div>
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-chart' %}
                </div>
                <p class="mont fs15">Boost <br> SEO Rankings </p>
              </div>
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-money' %}
                </div>
                <p class="mont fs15">Reduce IT <br> Risk & Cost</p>
              </div>
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-shield' %}
                </div>
                <p class="mont fs15">Early Threat Detection </p>
              </div>
              <div class="col text-center">
                <div class="green-icon-circle mb-3">
                  {% include 'icon-card-check' %}
                </div>
                <p class="mont fs15">PCI DSS 6.6 Compliancy</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="fs20 text-center mt-3 lh-18">
                  Designed and powered by Comodo – a global leader in cyber security technology – cWatch Web is the only fully-managed website & application security service that combines advanced threat intelligence, decades of real-world experience and deep human insight to deliver affordable, worry-free 24/7/365 security while also enhancing website performance, SEO rankings and maintaining PCI DSS compliancy. There’s no hardware to install and it can scale to meet your needs, size and budget. 
                </p>
              </div>
            </div>
          </div>
          <div class="second fade hidden" data-tab="two">
            <div class="title HeaderA-Level2 text-center mb-4">
              Worry-free Defense Against All Cyber Threats, Physical, Virtual and in the Cloud  
            </div>
            <div class="row">
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-bug' %}
                </div>
                <p class="mont fs15">Malware Attacks</p>
              </div>
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-bomb' %}
                </div>
                <p class="mont fs15">DDoS Attacks</p>
              </div>
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-hacker' %}
                </div>
                <p class="mont fs15">Hackers & Spam Attacks</p>
              </div>
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-robot' %}
                </div>
                <p class="mont fs15">Malicious Bots & Brute Force</p>
              </div>
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-wasp' %}
                </div>
                <p class="mont fs15">OWASP Top 10 Threats</p>
              </div>
              <div class="col text-center">
                <div class="red-icon-circle mb-3">
                  {% include 'icon-gernade' %}
                </div>
                <p class="mont fs15">Zero Day Attacks</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="fs20 text-center mt-3 lh-18">
                  cWatch Web is a complete web security stack fully managed by cyber security experts. It’s  designed to deliver max protection to your website or application to keep it safe from hackers, bots, SEO spam, DDoS attacks and much more, thanks to its unique combination of advanced security features in one easy-to-use solution. Upon simple setup, cWatch Web instantly keeps these threats in check.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <div class="btn-group tab-btns" role="group" aria-label="Basic example">
            <button type="button" class="btn font-italic fs16 btn-success active" data-tab="1">Enterprise-Level <br> Advantages</button>
            <button type="button" class="btn btn-light font-italic fs16" data-tab="2">Always-On <br> Threat Protection</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="partners hide-mobile-992 grey-background p-6 my-5">
  <div class="container">
    <div class="row position-relative word-lines justify-content-center w-50 m-auto">
      <span class="col-1 border-bottom border-grey position-relative"></span>
      <span class="col-auto mont fs15 text-uppercase ">companies that trust cwatch web</span>
      <span class="col-1 border-bottom border-grey position-relative"></span>
    </div>
    <div class="row mt-4">
      <div class="col">
        {{ 'partner-logos.png' | asset_url | img_tag: 'Cwatch Partner logos', 'img-fluid mx-auto d-block'}}
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- Mobile -->
<section class="security-partners-mobile show-mobile-992 hidden">
  <div class="container text-center">
    <div class="row mb-5">
      <div class="col">
        <div id="mobile-security-tabs" class="carousel slide mobile" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="slide-content text-center">
                <p class="FeatureHead-Level2">Enterprise-Level Advantages</p>
                <p class="title HeaderA-Level2 lh1-2 mb-5">Benefit From Enterprise-Grade Web Security for Any Business, Any Budget</p>
                <p class="fs20 text-center mt-3 ">
                  <span class="teaser">Designed and powered by Comodo – a global leader in cyber security technology – cWatch </span>    
                  <span class="full hidden">Web is the only fully-managed website & application security service that combines advanced threat intelligence, decades of real-world experience and deep human insight to deliver affordable, worry-free 24/7/365 security while also enhancing website performance, SEO rankings and maintaining PCI DSS compliancy. There’s no hardware to install and it can scale to meet your needs, size and budget.</span> 
                  <br>
                  <span class="more blue-text"> More {% include 'icon-blue-caret-down' %}</span>
                </p>
                <div class="row">
                  <div class="col-6 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-clock' %}
                    </div>
                    <p class="mont fs15">24/7 Security & Protection</p>
                  </div>
                  <div class="col-6 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-rpm' %}
                    </div>
                    <p class="mont fs15">Improve Performance</p>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-chart' %}
                    </div>
                    <p class="mont fs15">Boost SEO Rankings </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-money' %}
                    </div>
                    <p class="mont fs15">Reduce IT Risk & Cost</p>
                  </div>
                  <div class="col-6 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-shield' %}
                    </div>
                    <p class="mont fs15">Early Threat Detection </p>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                    <div class="green-icon-circle mb-3">
                      {% include 'icon-card-check' %}
                    </div>
                    <p class="mont fs15">PCI DSS 6.6 Compliancy</p>
                  </div>
                </div>
                <p class="blue-text m-0">NEXT</p>
                <p class="blue-text fs17">Always-On Threat Protetion</p>
                {% include 'icon-blue-swip-left' %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <p class="FeatureHead-Level2">Enterprise-Level Advantages</p>
                <p class="title HeaderA-Level2 lh1-2 mb-5">Benefit From Enterprise-Grade Web Security for Any Business, Any Budget</p>
                <p class="fs20 text-center mt-3 ">
                  <span class="teaser">cWatch Web is a complete web security stack fully managed by cyber security experts. </span> 
                  <span class="full hidden">It’s  designed to deliver max protection to your website or application to keep it safe from hackers, bots, SEO spam, DDoS attacks and much more, thanks to its unique combination of advanced security features in one easy-to-use solution. Upon simple setup, cWatch Web instantly keeps these threats in check.</span> 
                  <br>
                  <span class="more blue-text"> More {% include 'icon-blue-caret-down' %}</span>
                </p>
                <div class="row">
                  <div class="col-6 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-bug' %}
                    </div>
                    <p class="mont fs15">Malware Attacks</p>
                  </div>
                  <div class="col-6 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-bomb' %}
                    </div>
                    <p class="mont fs15">DDoS Attacks</p>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-hacker' %}
                    </div>
                    <p class="mont fs15">Hackers & Spam Attacks</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-robot' %}
                    </div>
                    <p class="mont fs15">Malicious Bots & Brute Force</p>
                  </div>
                  <div class="col-6 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-wasp' %}
                    </div>
                    <p class="mont fs15">OWASP Top 10 Threats</p>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                    <div class="red-icon-circle mb-3">
                      {% include 'icon-gernade' %}
                    </div>
                    <p class="mont fs15">Zero Day Attacks</p>
                  </div>
                </div>
                <p class="blue-text m-0">NEXT</p>
                <p class="blue-text fs17">Always-On Threat Protetion</p>
                {% include 'icon-blue-finger-right' %}
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#mobile-security-tabs" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-security-tabs" data-slide-to="1"></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row position-relative word-lines justify-content-center">
      <span class="col-1 col-sm-3 border-bottom border-grey position-relative"></span>
      <span class="col-auto mont fs15 text-uppercase ">companies that trust <br>cwatch web</span>
      <span class="col-1 col-sm-3 border-bottom border-grey position-relative"></span>
    </div>
    <div class="row">
      <div class="col">
        {{ 'companies-trust-sm-8.png' | asset_url | img_tag: 'Cwatch Partner logos', 'img-fluid mx-auto d-block'}}
      </div>
    </div>
  </div>
</section>
<!-- End -->
<section class="hacked mb-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="HeaderA-Level2 mb-2">Have You Been Hacked?</p>
        <p class="green-text mont font-italic fs20">Malware removal and remediation when you need it most</p>
        <p class="fs20 mt-1 w-75 mx-auto">
          Most website owners are ill-equipped to handle the damage incurred by cyber criminals.  Each day your website is compromized, it puts your business at risk - data exposure, damage to your reputation, drop in search ranking or loss of sales. If you’re experiencing any of the below symptoms, you need our FREE Malware Removal & Repair Service before it’s too late! 
        </p>
      </div>
    </div>
    <div class="row mt-3 mb-5 pb-3">
      <div class="col-lg-5 offset-lg-1">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto mont fs15 fw500 text-uppercase lsp2 grey-text">symptoms</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row mt-4">
          <div class="col">
            <ul class="red-check fs20 list-unstyled pl-4">
              <li class="py-2">Your website is infected with malware</li>
              <li class="py-2">You’ve received a malware alert on Google Webmaster Tools</li>
              <li class="py-2">Your website is blacklisted</li>
              <li class="py-2">Your website is loading slower than usual</li>
              <li class="py-2">There is a warning about your site on Google</li>
              <li class="py-2">Your site is sending emails on its own</li>
              <li class="py-2">Your hosting provider shut down your site due to malware</li>
              <li class="py-2">You’re seeing strange files and/or folders</li>
              <li class="py-2">There are strange redirects happening on your site</li>
              <li class="py-2">Your site is not loading</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto mont fs15 fw500 text-uppercase lsp2 grey-text"><span class="green-text">free</span> services include</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row mt-3">
          <div class="col">
            <ul class="green-check fs20 list-unstyled pl-4 font-weight-bold">
              <li class="py-3">
                Instant malware removal
                <ul class="list-unstyled fs17 fw300">
                  <li>
                    Our cyber security analyst team will find and remove any and all malware lurking in your website.
                  </li>
                </ul>
              </li>
              <li class="py-3">
                Repair damage caused by hackers
                <ul class="list-unstyled fs17 fw300">
                  <li>
                    Our experts will identify and remove damage from malware and hacking attempts, and  restore search engine visibility to your website.
                  </li>
                </ul>
              </li>
              <li class="py-3 ">
                Filter out advanced attacks and spam
                <ul class="list-unstyled fs17 fw300">
                  <li>
                    Our scans will find and block comment spam, SQL injections, DDos, and cross-site scripting attacks from your site.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <p class="FeatureText-Level3 mont green-text position-relative text-center hide-mobile-992" style="top: 13px;left: -45px;">Eliminate the headaches <br>caused by malware and spam for free!</p>
        <span class="hide-mobile-992">
          {% include 'icon-long-green-line' %}
        </span>
        <div class="row show-mobile-992">
          <div class="col">
            <p class="FeatureText-Level3 mont green-text position-relative text-center position-relative" style="top: -26px;">Eliminate the headaches <br>caused by malware and spam for free!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row hack-img position-relative">
      <div class="col-10 text-center offset-1">
        <p class="work fw600 fs35 mb-1">FREE Malware Removal & Repair</p>
        <p class="mont font-italic fs15 w-75 mx-auto">Let Comodo security experts safely remove your malware and repair the damage so you can get back up and running today.</p>
        <a href="/pages/malware-removal" class="btn btn-success btn-rd btn-longer my-2 hide-mobile-992">Get Instant Malware Removal Now {% include 'icon-arrow-right-white' %}</a>
        <div class="show-mobile-992">
          <a href="/pages/malware-removal" class="btn btn-success btn-rd btn-longer my-2">Get It Now</a>
        </div>
        <p class="fs26 mont fw600">100% FREE (Yes, really!)</p>
        <p class="mont font-italic fs15">No obligations. No credit card required.</p>
      </div>
    </div>
  </div>
</section>
<!-- Desktop -->
<section class="protect grey-background py-6">
  <div class="container">
    <div class="row mb-3">
      <div class="col text-center">
        <p class="HeaderA-Level2">How We Protect Your Website</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 position-relative" style="left:43px;">
        <div class="nav flex-column nav-pills mont fs14 vert-tabs-green mt-4" id="protect-tabs" role="tablist" aria-orientation="vertical">
          <a class="mb-2 nav-link active d-flex flex-row justify-content-around align-items-center position-relative" id="v-pills-home-tab" data-toggle="pill" href="#Advanced" role="tab" aria-controls="Advanced" aria-selected="true">
            {% include 'icon-waf-sm' %} Advanced Threat Protection
          </a>
          <a class="mb-2 nav-link d-flex flex-row justify-content-around align-items-center position-relative" id="v-pills-profile-tab" data-toggle="pill" href="#Detection" role="tab" aria-controls="Detection" aria-selected="false">
            {% include 'icon-siem-sm' %}
            Early Detection & Visibility
          </a>
          <a class="mb-2 nav-link d-flex flex-row justify-content-around align-items-center position-relative" id="v-pills-messages-tab" data-toggle="pill" href="#Monitoring" role="tab" aria-controls="Monitoring" aria-selected="false">
            {% include 'icon-csoc-sm' %}
            Expert Monitoring & Response
          </a>
          <a class="mb-2 nav-link d-flex flex-row justify-content-around align-items-center position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#Website" role="tab" aria-controls="Website" aria-selected="false">
            {% include 'icon-cdn-sm' %}
            Improved Website Performance
          </a>
        </div>
      </div>
      <div class="col-sm-7 offset-sm-1">
        <div class="tab-content" id="protect-tabContent">
          <div class="tab-pane fade show active" id="Advanced" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row mb-2">
              <div class="col-sm-2 pl-0 text-center">
                {% include 'icon-waf-md' %}
              </div>
              <div class="col-9 d-flex flex-column justify-content-center ">
                <p class="mont fs26 green-text m-0 lsp2">Advanced Threat Protection</p> 
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <p class="fs20">Our powerful Web Application Firewall (WAF) delivers around-the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                <ul class="gradient-dots fs20 list-unstyled" style="margin-top:4rem;">
                  <li class="grey-25">Malware and hacking protection</li>
                  <li class="grey-50">OWASP Top 10 protection</li>
                  <li class="grey-75">DDoS attack protection</li>
                  <li class="grey-100">Zero day attack protection</li>
                  <li><a href="/pages/web-application-firewall" class="fs15 blue-arrow-right text-decoration-none border-bottom border-blue">More About WAF Threat Protection&nbsp;{% include 'icon-blue-arrow-right' %}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Detection" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row mb-2">
              <div class="col-sm-2 pl-0 text-center">
                {% include 'icon-siem-md' %}
              </div>
              <div class="col-9 d-flex flex-column justify-content-center ">
                <p class="mont fs26 green-text m-0 lsp2">Early Dectection & Visibility</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <p class="fs20">Our powerful Web Application Firewall (WAF) delivers around-the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                <ul class="gradient-dots fs20 list-unstyled" style="margin-top:4rem;">
                  <li class="grey-25">Malware and hacking protection</li>
                  <li class="grey-50">OWASP Top 10 protection</li>
                  <li class="grey-75">DDoS attack protection</li>
                  <li class="grey-100">Zero day attack protection</li>
                  <li><a href="tel:" class="fs15 blue-arrow-right text-decoration-none border-bottom border-blue">More About WAF Threat Protection&nbsp;{% include 'icon-blue-arrow-right' %}</a></li>
                </ul>
              
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Monitoring" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row mb-2">
              <div class="col-sm-2 pl-0 text-center">
                {% include 'icon-csoc-md' %}
              </div>
              <div class="col-9 d-flex flex-column justify-content-center ">
                <p class="mont fs26 green-text m-0 lsp2">Expert Monitoring & Response</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <p class="fs20">Our powerful Web Application Firewall (WAF) delivers around-the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                <ul class="gradient-dots fs20 list-unstyled" style="margin-top:4rem;">
                  <li class="grey-25">Malware and hacking protection</li>
                  <li class="grey-50">OWASP Top 10 protection</li>
                  <li class="grey-75">DDoS attack protection</li>
                  <li class="grey-100">Zero day attack protection</li>
                  <li><a href="tel:" class="fs15 blue-arrow-right text-decoration-none border-bottom border-blue">More About WAF Threat Protection&nbsp;{% include 'icon-blue-arrow-right' %}</a></li>
                </ul>
                
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Website" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row mb-2">
              <div class="col-sm-2 pl-0 text-center">
                {% include 'icon-cdn-md' %}
              </div>
              <div class="col-9 d-flex flex-column justify-content-center ">
                <p class="mont fs26 green-text m-0 lsp2">Improved Website Performance</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <p class="fs20">Our powerful Web Application Firewall (WAF) delivers around-the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                <ul class="gradient-dots fs20 list-unstyled" style="margin-top:4rem;">
                  <li class="grey-25">Malware and hacking protection</li>
                  <li class="grey-50">OWASP Top 10 protection</li>
                  <li class="grey-75">DDoS attack protection</li>
                  <li class="grey-100">Zero day attack protection</li>
                  <li><a href="tel:" class="fs15 blue-arrow-right text-decoration-none border-bottom border-blue">More About WAF Threat Protection&nbsp;{% include 'icon-blue-arrow-right' %}</a></li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- Mobile -->
<section class="inner-page-mobile-tabs grey-background py-7 hidden">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="HeaderA-Level2">How We Protect Your Website</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="mobile-protect-slider" class="carousel slide mobile" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mobile-protect-slider" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="1"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="2"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="slide-content text-center">
                <div class="row mb-2">
                  <div class="col-12 text-center title-icon">
                    {% include 'icon-waf-lg' %}
                  </div>
                  <div class="col-12 d-flex flex-column justify-content-center ">
                    <p class="mont fs17 font-weight-bold green-text">Advanced Threat Protection</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="ParagraphText-regular">Our powerful Web Application Firewall (WAF) delivers around- the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                    <ul class="gradient-dots text-left pl-0 list-unstyled fs15">
                      <li class="grey-25">Malware and hacking protection</li>
                      <li class="grey-50">OWASP Top 10 protection</li>
                      <li class="grey-75">DDoS attack protection</li>
                      <li class="grey-100">Zero day attack protection</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Early Detection & Visibility</p>
                    {% include 'icon-blue-swip-left' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <div class="row mb-2">
                  <div class="col-12 text-center title-icon">
                    {% include 'icon-siem-lg' %}
                  </div>
                  <div class="col-12 d-flex flex-column justify-content-center ">
                    <p class="mont fs17 font-weight-bold green-text">Early Detection & Visibility</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="ParagraphText-regular">Our powerful Web Application Firewall (WAF) delivers around- the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                    <ul class="gradient-dots text-left pl-0 list-unstyled fs15">
                      <li class="grey-25">Malware and hacking protection</li>
                      <li class="grey-50">OWASP Top 10 protection</li>
                      <li class="grey-75">DDoS attack protection</li>
                      <li class="grey-100">Zero day attack protection</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Expert Monitoring & Response</p>
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <div class="row mb-2">
                  <div class="col-12 text-center title-icon">
                    {% include 'icon-csoc-lg' %}
                  </div>
                  <div class="col-12 d-flex flex-column justify-content-center ">
                    <p class="mont fs17 font-weight-bold green-text">Expert Monitoring & Response</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="ParagraphText-regular">Our powerful Web Application Firewall (WAF) delivers around- the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                    <ul class="gradient-dots text-left pl-0 list-unstyled fs15">
                      <li class="grey-25">Malware and hacking protection</li>
                      <li class="grey-50">OWASP Top 10 protection</li>
                      <li class="grey-75">DDoS attack protection</li>
                      <li class="grey-100">Zero day attack protection</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Improved Website Performance</p>
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <div class="row mb-2">
                  <div class="col-12 text-center title-icon">
                    {% include 'icon-cdn-lg' %}
                  </div>
                  <div class="col-12 d-flex flex-column justify-content-center ">
                    <p class="mont fs17 font-weight-bold green-text">Improved Website Performance</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="ParagraphText-regular">Our powerful Web Application Firewall (WAF) delivers around- the-clock defense against a wide range of cyber threats and vulnerabilities.</p>
                    <ul class="gradient-dots text-left pl-0 list-unstyled fs15">
                      <li class="grey-25">Malware and hacking protection</li>
                      <li class="grey-50">OWASP Top 10 protection</li>
                      <li class="grey-75">DDoS attack protection</li>
                      <li class="grey-100">Zero day attack protection</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Advanced Threat Protection</p>
                    {% include 'icon-blue-finger-right' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- Desktop -->
<section class="reporting mt-5 mb-4 hide-mobile-992">
  <div class="container">
    <div class="row mt-4 mb-5">
      <div class="col-sm-5">
        <p class="HeaderB-Level4">Real-Time Reporting & <br>Threat Analysis in Your Grasp</p>
        <div class="nav flex-column nav-pills mont vert-tabs-green" id="slider-tabs" role="tablist" aria-orientation="vertical">
          <a data-index="0" class="mb-2 nav-link active position-relative" id="v-pills-home-tab" data-toggle="pill" href="#Web" role="tab" aria-controls="Web" aria-selected="true">
            <span class="hover-me">Web-Based Dashboard</span> <br>
            <span class="ParagraphText-small">There’s no hardware to install. cWatch Web is completely cloud-based. And it’s fully-managed.  Follow in real-time with the same analytics-driven SIEM the experts use. </span>
          </a>
          <a data-index="1" class="mb-2 nav-link position-relative" id="v-pills-profile-tab" data-toggle="pill" href="#Web" role="tab" aria-controls="Web" aria-selected="false">
           <span class="hover-me">Visibility & Insight </span><br>
           <span class="ParagraphText-small">Dashboard alerts are prioritized based on severity. You also get a daily summary report in your inbox  highlighting key points and when a new event is detected. Good or bad.</span>
          </a>
          <a data-index="2" class="mb-2 nav-link position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#Web" role="tab" aria-controls="Web" aria-selected="false">
           <span class="hover-me">Threat Management</span> <br>
           <span class="ParagraphText-small">Witness cWatch Web analyze, detect and identify changes in behavior. It senses and tracks incidents and threats to provide actionable data and context for easy investigation.</span>
          </a>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="tab-content" id="protect-tabContent">
          <div class="tab-pane show active pane-web" id="Web" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col">
                <ul id="baraja-el" class="baraja-container">
                  <li data-index="0" class="img-flipper">{{ 'dash.png' | asset_url | img_tag: 'dash' }}</li>
                  <li data-index="1" class="img-flipper">{{ 'Banner.png' | asset_url | img_tag: 'dash' }}</li>
                  <li data-index="2" class="img-flipper">{{ 'dash.png' | asset_url | img_tag: 'dash' }}</li>
                </ul>
                <nav class="actions light position-absolute">
                  <span id="nav-prev">{% include 'icon-green-left-arrow-circle' %}</span>
                  <span id="nav-next">{% include 'icon-green-right-arrow-circle' %}</span>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- Mobile -->
<section class="reporting-mobile my-5 show-mobile-992">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col text-center">
        <p class="HeaderB-Level4">Real-Time Reporting & Threat Analysis in Your Grasp</p>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 p-0">
        <div id="reporting-accordion" role="tablist" data-children=".mobile-accordian-child">
          <div class="mobile-accordian-child">
            <div class="web-based text-center border-top border-grey-light py-3">
              <a class="change-me" data-toggle="collapse" href="#web-based" aria-expanded="false" aria-controls="web-based">
                Web-Based Dashboard {% include 'icon-blue-caret-down' %}
              </a>
            </div>
            <div class="collapse text-center" id="web-based" data-parent="#reporting-accordion">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div id="web-based-mobile" class="carousel slide mobile mb-5" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'Banner.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#web-based-mobile" data-slide-to="0" class="active"></li>
                        <li data-target="#web-based-mobile" data-slide-to="1"></li>
                        <li data-target="#web-based-mobile" data-slide-to="2"></li>
                      </ol>
                    </div>
                    <p class="HeaderB-Level4 mb-1 mt-3">Web-Based Dashboard</p>
                    <p>There’s no hardware to install. cWatch Web is completely cloud-based. And it’s fully-managed.  Follow in real-time with the same analytics-driven SIEM the experts use. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-accordian-child">
            <div class="web-based text-center border-top border-grey-light py-3">
              <a class="change-me" data-toggle="collapse" href="#visibility" aria-expanded="false" aria-controls="visibility">
                Visibility & Insight {% include 'icon-blue-caret-down' %}
              </a>
            </div>
            <div class="collapse text-center" id="visibility" data-parent="#reporting-accordion">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div id="vis-insight" class="carousel slide mobile mb-5" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'Banner.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#vis-insight" data-slide-to="0" class="active"></li>
                        <li data-target="#vis-insight" data-slide-to="1"></li>
                        <li data-target="#vis-insight" data-slide-to="2"></li>
                      </ol>
                    </div>
                    <p class="HeaderB-Level4 mb-1 mt-3">Visibility & Insight</p>
                    <p>Dashboard alerts are prioritized based on severity. You also get a daily summary report in your inbox  highlighting key points and when a new event is detected. Good or bad.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-accordian-child">
            <div class="web-based text-center border-top border-bottom border-grey-light py-3">
              <a class="change-me" data-toggle="collapse" href="#threat" aria-expanded="false" aria-controls="threat">
                Threat Management {% include 'icon-blue-caret-down' %}
              </a>
            </div>
            <div class="collapse text-center" id="threat" data-parent="#reporting-accordion">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div id="threat-mngt" class="carousel slide mobile mb-5" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'dash.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                        <div class="carousel-item">
                          {{ 'Banner.png' | asset_url | img_tag: 'dash', 'img-fluid' }}
                        </div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#threat-mngt" data-slide-to="0" class="active"></li>
                        <li data-target="#threat-mngt" data-slide-to="1"></li>
                        <li data-target="#threat-mngt" data-slide-to="2"></li>
                      </ol>
                    </div>
                    <p class="HeaderB-Level4 mb-1 mt-3">Threat Management</p>
                    <p>Witness cWatch Web analyze, detect and identify changes in behavior. It senses and tracks incidents and threats to provide actionable data and context for easy investigation.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<section class="security mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="HeaderA-Level2 mt-2 mb-2">Website Security is an Ever-Growing Challenge</p>
        <p class="green-text mont font-italic fs20 pt-3 mb-2">60% of SMB hit by a cyber attack are out of business in 6 months.</p>
        <p class="FirstFeatureParagraph w-75 mx-auto">Hackers grow more sophisticated by the day, and businesses like yours are the target. Even a single data breach, website hack or ransomware attack can cause massive damage to your business, destroy customer trust and lead to huge financial losses. </p>
      </div>
      <div class="col my-4 text-center">
        <p class="mont fw600 pt-2 fs26" style="letter-spacing: 1.3px;">Can you afford the risk of going unprotected?</p>
      </div>
    </div>
    <!-- Desktop -->
    <div class="security-hide-mobile mt-5">
      <div class="row">
        <div class="col mt-5 position-relative">
          <div class="no-hov">
            <p class="work fw300 fs26 green-text m-0">64% Have Malware</p>
            <p class="ParagraphText-small">According to studies carried out in 2017, 64% of companies have experienced a Malware Attack - that they know of.</p>
            <p class="mont fs10 fw600 m-0">CWARE, MAR 2017</p>
          </div>
          <div class="hover trans-ease-inOut drop-shadow hidden p-3 position-absolute br-4 white-background z1" style="top: -30px;left: -117px;">
            <p class="FeatureHead-Level2">MALWARE - The Solution: </p>
            <p class="fs15">cWatch Web has 24/7 malware detection scanning, preventive methods and removal services so you can take a proactive approach to protect against malware attacks, infections and brand reputation damage.</p>
            <a href="tel:" class="btn btn-outline-success btn-rd my-2 mont fs15">Learn More</a>
            {% include 'icon-bug-2' %}
            {% include 'icon-bug-3' %}
            {% include 'icon-worm' %}
            {% include 'icon-bug-mobile' %}
          </div>
        </div>
        <div class="col-7">
          {% include 'icon-thief' %}
          {% include 'icon-cracked-laptop' %}
        </div>
        <div class="col mt-5 position-relative">
          <div class="no-hov">
            <p class="work fw300 fs26 green-text m-0">DDoS Attacks up 140%</p>
            <p class="ParagraphText-small">Recent data shows that DDoS Attacks are up 140%, and general web app attacks up 72%.</p>
            <p class="mont fs10 fw600 m-0">GSN MAGAZINE, FEB 2017</p>
          </div>
          <div class="hover trans-ease-inOut drop-shadow hidden p-3 position-absolute br-4 white-background z1" style="top: -30px;right: -100px;">
            <p class="FeatureHead-Level2">DDoS - The Solution:</p>
            <p class="fs15">cWatch Web enables efficient distribution of traffic among 29 global PoPs. It blocks bad traffic in excess of 1 TB/s with each PoP having 10GB and 100G ports to scale and absorb large attacks to ensure uptime.</p>
            <a href="tel:" class="btn btn-outline-success btn-rd my-2 mont fs15">Learn More</a>
            {% include 'icon-rockets-incoming' %}
          </div>
        </div>
      </div>
      <div class="row mt-5 pt-4">
        <div class="col-sm-4 offset-sm-1 position-relative">
          <div class="no-hov">
            <p class="work fw300 fs26 green-text m-0">Hackers Attack Every 39 Seconds</p>
            <p class="ParagraphText-small">By average in 2016 alone, hackers attacked a website every 39 seconds   Lorem ipsum dolor sit amet consectetur.</p>
            <p class="mont fs10 fw600 m-0">SECURITY MAGAZINE, FEB 2016</p>
          </div>
          <div class="hover trans-ease-inOut drop-shadow hidden p-3 position-absolute br-4 white-background z1 hacked-hover" style="top: -49px;left: -104px;">
            <p class="FeatureHead-Level2">HACKED - The Solution:</p>
            <p class="fs15">cWatch Web leverages years of advanced security intelligence to detect any abnormal activity. Then alerts the cyber security experts with actionable insight in order to investigate and remediate accordingly.</p>
            <a href="tel:" class="btn btn-outline-success btn-rd my-2 mont fs15">Learn More</a>
            {% include 'icon-number-screen' %}
            
            {% include 'icon-alarm-clock' %}
            {% include 'icon-credit-cards-falling' %}
          </div>
        </div>
        <div class="col-sm-5 offset-sm-2 position-relative">
          <div class="no-hov">
            <p class="work fw300 fs26 green-text m-0">$150M by 2020</p>
            <p class="ParagraphText-small">Security analysts predict the cost of a website breach will top $150M by the year 2020.</p>
            <p class="mont fs10 fw600 m-0">FORBES, JAN 2016</p>
          </div>
          <div class="hover trans-ease-inOut drop-shadow hidden p-3 position-absolute br-4 white-background z1" style="top: -53px">
            <p class="FeatureHead-Level2">HIGH COST - The Solution:</p>
            <p class="fs15">cWatch Web is a mere fraction of the cost any breach or attack on your website can cost your business. For less than $1 per day, you can leave website security to the professionals and focus on your business.</p>
            <a href="tel:" class="btn btn-outline-success btn-rd my-2 mont fs15">Learn More</a>
            {% include 'icon-money-cloud' %}
            {% include 'icon-buck' %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col my-3 text-center">
          <p class="mont fs26 fw600">Instantly Protect Your Business from Online Dangers</p>
          <a href="/pages/pricing" class="btn btn-success btn-rd btn-longer my-2 text-uppercase mont fs15 font-weight-bold lsp2">see all service packages {% include 'icon-arrow-right-white' %} </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/pages/benefits" class="learn-more btn btn-outline-success btn-rd my-2 mont fs15 font-weight-bold lsp2">Learn More</a>
        </div>
      </div>
    </div>
    <!-- End -->
    <!-- Mobile -->
    <div class="security-show-mobile hidden">
      <div class="row">
        <div class="col-sm-12">
          {% include 'icon-cracked-laptop' %}
        </div>
        <div class="col-sm-12">
          <div id="security-mobile-slider" class="carousel slide mobile mb-5" data-ride="carousel">
            <div class="carousel-inner text-center">
               <div class="carousel-item mh-450 active">
                <div class="slide-content">
                  <p class="Header-Level4 green-text">64% Have Malware</p>
                  <p class="ParagraphText-small">According to studies carried out in 2017, 64% of companies have experienced a Malware Attack - that they know of.</p>
                  <p class="fs10 mont font-weight-bold">CWARE, MAR 2017</p>
                  {% include 'icon-blue-swip-left' %}
                  {% include 'icon-bug-2' %}
                  {% include 'icon-bug-3' %}
                  {% include 'icon-worm' %}
                  {% include 'icon-bug-mobile' %}
                </div>
              </div>
              <div class="carousel-item mh-450">
                <div class="slide-content">
                  <p class="Header-Level4 green-text">Hackers Attack Every 39 Seconds</p>
                  <p class="ParagraphText-small">By average in 2016 alone, hackers attacked a website every 39 seconds   Lorem ipsum dolor sit amet consectetur.</p>
                  <p class="fs10 mont font-weight-bold">SECURITY MAGAZINE, FEB 2016</p>
                  {% include 'icon-blue-hand-left-right' %}
                  {% include 'icon-number-screen' %}
                  {% include 'icon-alarm-clock' %}
                  {% include 'icon-credit-cards-falling' %}
                </div>
              </div> 
              <div class="carousel-item mh-450">
                {% include 'icon-money-cloud' %}
                <div class="slide-content">
                  <p class="Header-Level4 green-text">$150M by 2020</p>
                  <p class="ParagraphText-small">Security analysts predict the cost of a website breach will top $150M by the year 2020.</p>
                  <p class="fs10 mont font-weight-bold">FORBES, JAN 2016</p>
                  {% include 'icon-blue-hand-left-right' %}
                </div>
              </div> 
              <div class="carousel-item mh-450">
                {% include 'icon-rockets-incoming' %}
                <div class="slide-content">
                  <p class="Header-Level4 green-text">DDoS Attacks up 140%</p>
                  <p class="ParagraphText-small">Recent data shows that DDoS Attacks are up 140%, and general web app attacks up 72%.</p>
                  <p class="fs10 mont font-weight-bold">GSN MAGAZINE, FEB 2017</p>
                  {% include 'icon-blue-finger-right' %}
                </div>
              </div> 
            </div>
            <ol class="carousel-indicators">
              <li data-target="#security-mobile-slider" data-slide-to="0" class="active"></li>
              <li data-target="#security-mobile-slider" data-slide-to="1"></li>
              <li data-target="#security-mobile-slider" data-slide-to="2"></li>
              <li data-target="#security-mobile-slider" data-slide-to="3"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
  </div>
</section>
<section class="counting-numbers blue-gradients white-text position-relative py-8">
  <div class="container ">
    <div class="row my-3">
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="Countries">0</span><span class="fs47">+</span> </p>
        <p class="font-italic">Countries being monitored</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="Endpoints">0</span>M<span class="fs47">+</span> </p>
        <p class="font-italic">Endpoints gathering data</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="unique">0</span>k<span class="fs47">+</span> </p>
        <p class="font-italic">New unique unknown files found per week</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="threats">0</span>k<span class="fs47">+</span> </p>
        <p class="font-italic">New malware threats detected per week</p>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="analyzed">0</span>K<span class="fs47">+</span> </p>
        <p class="font-italic">Files analyzed manually by the CSOC per week</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="performance">0</span><span class="fs47">+</span> </p>
        <p class="font-italic">Faster website performance reported on average</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="blocked">0</span>K<span class="fs47">+</span> </p>
        <p class="font-italic">Attacks blocked each month per customer</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <p class="work fs63 fw300 m-0"><span class="Support">0</span><span class="fs47">+</span> </p>
        <p class="font-italic">Support ticket resolution satisfaction</p>
      </div>
    </div>
  </div>
</section>
<section class="malware-bug green-gradients">
  {% include 'icon-bug-trail' %}
  {% include 'icon-bug-mobile' %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="work fs47 fw300 move-1"> <span class="font-weight-bold">FREE</span> Malware Removal & Repair</p>
        <p class="mont font-italic fs15 w-50 mx-auto">Let Comodo security experts safely remove your malware and repair the damage  so you can get back up and running today.</p>
        <a href="/pages/malware-removal" class="btn btn-primary btn-rd btn-longer my-2 text-uppercase mont fs15 hide-mobile-992">Get FREE Instant Malware Removal Now {% include 'icon-arrow-right-white' %}</a>
        <a href="/pages/malware-removal" class="btn btn-primary btn-rd btn-longer my-2 text-uppercase mont fs15 show-mobile-992">FREE Malware Removal</a>
        <p class="mont fs35 fw500">100% FREE (Yes, really!)</p>
        <p class="mont font-italic fs15">No obligations. No credit card required.</p>
      </div>
    </div>
  </div>
  {% include 'icon-worm' %}
</section>
<section class="live-chat">
  <div class="container py-2">
    <div class="row">
      <div class="col-12 text-center">
        {% include 'icon-chat-set' %}
        <p class="work fw500 fs34 mb-1">Need Help?</p>
        <p class="work fw300 fs38 mb-1">Contact Our Live Tech Support Today.</p>
        <a href="#" class="work fs35 fw500 ">1-888-481-5388</a>
      </div>
      <div class="col-12 chat-links text-center mt-2">
        <div class="row">
          <div class="col-sm-6">
            <a href="#" class="btn btn-outline-primary btn-longer btn-rd my-3 mont fs15 text-uppercase fw500 black-text letter-spacing2 pull-right"> {% include 'icon-blue-chat-dots' %} click to chat</a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="btn btn-outline-primary btn-longer btn-rd my-3 mont fs15 text-uppercase fw500 black-text letter-spacing2 pull-left"> {% include 'icon-blue-mail' %} email support</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" style="margin-top: 92px;">
      <div class="col-12 mb-4">
        <p class="HeaderA-Level2">Website Protection You Can Trust—And Afford</p>
        <p class="FirstFeatureParagraph w-75 mx-auto">cWatch Web is a Security-as-a-Service (SaaS) solution that simplifies website and application security by delivering enterprise-grade managed threat detection, prevention, protection and remediation at a price any size business can afford.</p>
        <p class="HeaderB-Level4 mt-4">The best protection available.  For companies like yours.</p>
      </div>
    </div>
  </div>
</section>
<!-- Desktop -->
<section class="pricing mb-5">
  <div class="container">
    <div class="row w-90 mx-auto">
      <div class="col-sm-4 px-0">
        <div class="price-box border-left border-top border-grey-light text-center mh-800">
          <p class="mont green-text font-weight-bold mb-0">Pro</p>
          <p class="work fs63 price green-text fw500"> <span class="dollar-sign fs26 fw300">$</span>9.<span class="cents fs20 fw300">90</span></p>
          <div>
            <p class="work fs15 green-text m-0 opaque">sfdsf</p>
            <select name="" id="" class="green-outline form-control">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9453149683754" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <div>
            <ul class="green-bg-check list-unstyled text-left fs17">
              <li>Professional Websites</li>
              <li>Small Business Websites</li>
              <li>Light Ecommerce Websites</li>
            </ul>
          </div>
          <p class="fw600 fs17">1 Domain</p>
          <p class="work fs17 green-text m-0 opaque">not shown</p>
          <div>
            <p class="mb-0 work fs22 green-text">Instant</p>
            <p class="fs17">Malware Detection & Removal</p>
          </div>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/600_px_Transparent_flag.png" alt="" width="50" height="34">
          </div>
          <p class="fs17">Dedicated Expert Analyst</p>
          <div>
            <p class="mb-0 work fs22 green-text">5 hrs</p>
            <p class="fs17">Incident Response Time</p>
          </div>
          <div class="row">
            <div class="col-5 offset-sm-2">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center pl-0">
              <p class="m-0 text-uppercase fs9 grey-text">good</p>
            </div>
            <div class="col">
              <p class="fs17">Overall Protection</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-0">
        <div class="price-box border-left border-top border-right border-grey-light text-center position-relative mh-800">
          <div class="ribbon"><span>Best Seller</span></div>
          <p class="mont green-text font-weight-bold">Premium</p>
          <p class="work fs63 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>24.<span class="cents fs20 fw300">90</span></p>
          <div>
            <p class="work fs15 green-text m-0">$29.90/Mo. Paid Annually</p>
            <select name="" id="" class="green-outline form-control">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9638768345130" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <ul class="green-bg-check list-unstyled text-left fs17">
            <li>Professional Websites</li>
            <li>Small to Medium Business</li>
            <li>Light Ecommerce Websites</li>
          </ul>
          <p class="fw600 fs17">1 Doman</p>
          <p class="work fs17 green-text m-0 opaque">not shown</p>
          <div>
            <p class="mb-0 work fs22 green-text">Instant</p>
            <p class="fs17">Malware Detection & Removal</p>
          </div>
          <div>
            {% include 'icon-green-check' %}
          </div>
          <p class="fs17">Dedicated Expert Analyst</p>
          <div>
            <p class="mb-0 work fs22 green-text">4 hrs</p>
            <p class="fs17">Incident Response Time</p>
          </div>
          <div class="row">
            <div class="col-5 offset-sm-2">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center pl-0">
              <p class="m-0 text-uppercase fs9 grey-text">high</p>
            </div>
            <div class="col">
              <p class="fs17">Overall Protection</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-0">
        <div class="price-box border-top border-right border-grey-light text-center mh-800">
          <p class="mont font-weight-bold">Enterprise</p>
          <p class="work fs63 price fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>1,558.<span class="cents fs20 fw300">80</span></p>
          <div>
            <p class="work fs15 darkish-blue-text m-0">$129.90/Mo. Paid Annually</p>
            <select name="" id="" class="darkish-blue-outline form-control">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <!--   <a href="#botom" class="btn btn-blue-gradient btn-rd btn-longer my-3 mont fs15 text-uppercase fw500">protect site now</a> -->
          <button class="btn btn-blue-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9651122733098" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <ul class="green-bg-check list-unstyled text-left fs17">
            <li>Corporate Websites</li>
            <li>Ecommerce Websites</li>
            <li>High-Value Brands</li>
          </ul>
          <div>
            <p class="fw600 fs17 mb-0">1 Domain</p>
            <p class="fw600 fs17">Up to 10 Subdomains</p>
          </div>
          <div>
            <p class="mb-0 work fs22 green-text">Instant</p>
            <p class="fs17">Malware Detection & Removal</p>
          </div>
          <div>
            {% include 'icon-green-check' %}
          </div>
          <p class="fs17">Dedicated Expert Analyst</p>
          <div>
            <p class="mb-0 work fs22 green-text">2 hrs</p>
            <p class="fs17">Incident Response Time</p>
          </div>
          <div class="row">
            <div class="col-5 offset-sm-2">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center pl-0">
              <p class="m-0 text-uppercase fs9 grey-text">high</p>
            </div>
            <div class="col">
              <p class="fs17">Overall Protection</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-0">
        <div class="border border-grey d-flex flex-row justify-content-center align-items-center py-5">
          <a class="mont fw300 fs15 border-bottom border-blue">View Detailed Features and Pricing {% include 'icon-blue-arrow-right' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- Mobile -->
<section class="pricing-mobile counting-numbers py-7 hidden mb-6">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="btn-group my-3 btn-group-justified " role="group" aria-label="Price changer">
          <button type="button" class="btn btn-success fs15" data-index="0">Pro</button>
          <button type="button" class="btn btn-success fs15" data-index="1">Premium</button>
          <button type="button" class="btn btn-success fs15" data-index="2">Enterprise</button>
        </div>
        <div id="mobile-price-slider" class="carousel slide mobile mb-5" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item mh-700 active">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont green-text font-weight-bold mb-3">Pro</p>
                  <p class="work fs63 price green-text fw500"> <span class="dollar-sign fs26 fw300">$</span>9.<span class="cents fs20 fw300">90</span></p>
                  <select name="" id="" class="green-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Professional Websites</li>
                    <li>Small Business Websites</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">5 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">good</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9453149683754" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-swip-left' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item mh-700">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont green-text font-weight-bold mb-3">Premium</p>
                  <p class="work fs63 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>24.<span class="cents fs20 fw300">90</span></p>
                  <p class="work fs15 green-text m-0">$29.90/Mo. Paid Annually</p>
                  <select name="" id="" class="green-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Professional Websites</li>
                    <li>Small Business Websites</li>
                    <li>Light Ecommerce Websites</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        {% include 'icon-green-check' %}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">4 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">high</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9638768345130" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item mh-700">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont darkish-blue-text font-weight-bold mb-3">Enterprise</p>
                  <p class="work fs63 price fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>1,558.<span class="cents fs20 fw300">80</span></p>
                  <p class="work fs15 darkish-blue-text m-0">$129.90/Mo. Paid Annually</p>
                  <select name="" id="" class="darkish-blue-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Corporate Websites</li>
                    <li>Ecommerce Websites</li>
                    <li>High-Value Brands</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        {% include 'icon-green-check' %}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">2 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">good</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-blue-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9651122733098" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-finger-right' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#mobile-price-slide" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-price-slide" data-slide-to="1"></li>
            <li data-target="#mobile-price-slide" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
      <div class="col-12 text-center my-5">
        <a class="mont fw300 fs15 border-bottom border-blue">View Detailed Features and Pricing {% include 'icon-blue-arrow-right' %}</a>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<!-- page end cta -->
<section class="mb-6">
  <div class="container">
    <div class="row mt-5 pt-2">
      <div class="col-12 text-center">
        <p class="FeatureText-Level2 mb-3">Leave website security to the pros. Focus on your business.</p>
        <a href="tel:" class="btn btn-green-gradient btn-rd btn-longer mt-3 mb-3 mr-2 mont fs15 text-uppercase fw500">get started now <span class="hide-mobile-992">
          {% include 'icon-arrow-right-white' %}
        </span></a>
        <a href="tel:" class="btn btn-outline-success btn-rd btn-longer mt-3 mb-3 mont fs15 text-uppercase fw500">{% include 'icon-green-chat-dits' %} click to chat</a>
      </div>
      <div class="col-12 text-center mt-2">
        <a href="tel:" class="work fw500 fs26 green-text">1-888-481-5388</a>
      </div>
    </div>
  </div>
</section>
