{% include 'breadcrumbs' %}
<section class="page-hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h2 class="work fs47 fw200  mt-5">Contact Us</h2>
      </div>
    </div>
  </div>
</section>
<section class="form-type">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4 offset-2">
        <div class="border-top border-bottom border-left border-right border-grey-light br-4 p-3 pointer form-type-select blue-background white-text" data-type="sales">
          <div class="show-grey hidden mb-4">
            {% include 'icon-grey-headset' %}
            {% include 'icon-no-check' %}
          </div>
          <div class="show-white  mb-4">
            {% include 'icon-white-headset' %}
            {% include 'icon-blue-check-bg' %}
          </div>
          <h2 class="HeaderB-Level5 fs20">Sales Support</h2>
          <p class="fs14">Click here for general sales, pricing or product specifications. Our representatives are standing by.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="border-top border-bottom border-left border-right border-grey-light br-4 p-3 pointer form-type-select" data-type="tech">
          <div class="show-grey mb-4">
            {% include 'icon-grey-gears' %}
            {% include 'icon-no-check' %}
          </div>
          <div class="show-white hidden mb-4">
            {% include 'icon-white-gears' %}
            {% include 'icon-blue-check-bg' %}
          </div>
          <h2 class="HeaderB-Level5 fs20">Technical Support</h2>
          <p class="fs14">Click here if you need technical assistance. Please have your account or order number ready to help us assist you.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="sales-form">
          <p class="HeaderA-Level3">Sales Support</p>
          <p class="HeaderB-Level4">Meeting all your website security needs today and into the future.</p>
          <p class="fs17">Have questions about our product features and benefits, reseller opportunities, billing, finance or general sales questions?  Need help determining which pricing package is right for you?  Contact us today... our 24/7 Customer Experience Specialists are standing by ready to assist you.</p>
          <p>{% include 'icon-chat-set-sm' %} <a href="tel:18884815388" class="HeaderA-Level4 blue-text">1-888-481-5388</a></p>
          <p>{% include 'icon-blue-chat-dots' %} <a href="tel:" class="HeaderA-Level4">Chat with Sales Support</a></p>
          <p>{% include 'icon-blue-mail' %}<a href="mailto:" class="HeaderA-Level4">Email Us</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sales-form">
          <p class="fs17 grey-text">Please use the form below to submit a message to our Sales Support team</p>
          {% form 'contact', class: 'free-malware-form' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="form-group">
              <label for="ContactFormName" class="sr-only">{{ 'contact.form.name' | t }}</label>
              <input type="text"
              name="contact[name]"
              id="ContactFormName"
              placeholder="{{ 'contact.form.name' | t }}"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
              class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormEmail" class="sr-only">{{ 'contact.form.email' | t }}</label>
              <input type="email"
                name="contact[email]"
                id="ContactFormEmail"
                placeholder="{{ 'contact.form.email' | t }}"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormPhone" class="sr-only">{{ 'contact.form.phone' | t }}</label>
              <input type="tel"
                name="contact[phone]"
                id="ContactFormPhone"
                placeholder="{{ 'contact.form.phone' | t }}"
                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                pattern="[0-9\-]*"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormMessage" class="sr-only">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10"
                name="contact[body]"
                id="ContactFormMessage"
                placeholder="{{ 'contact.form.message' | t }}"
                class="form-control">
              </textarea>
            </div>
            <div class="form-group text-center">
              <label class="cb-container fs14 italic fw400 position-relative">
                I agree to the <a class="blue-text" href="tel:">Terms of Service</a>
                <input type="checkbox" name="terms">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-blue-light btn-rd btn-longer mont fw600 fs14">SUBMIT YOUR MESSAGE</button>
            </div>
          {% endform %}
        </div>
        <div class="tech-form hidden">
          <p class="fs17 grey-text">Please use the form below to submit a message to our Technical Support team</p>
          {% form 'contact', class: 'free-malware-form' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="form-group">
              <label for="ContactFormName" class="sr-only">{{ 'contact.form.name' | t }}</label>
              <input type="text"
              name="contact[name]"
              id="ContactFormName"
              placeholder="{{ 'contact.form.name' | t }}"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
              class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormEmail" class="sr-only">{{ 'contact.form.email' | t }}</label>
              <input type="email"
                name="contact[email]"
                id="ContactFormEmail"
                placeholder="{{ 'contact.form.email' | t }}"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormPhone" class="sr-only">{{ 'contact.form.phone' | t }}</label>
              <input type="tel"
                name="contact[phone]"
                id="ContactFormPhone"
                placeholder="{{ 'contact.form.phone' | t }}"
                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                pattern="[0-9\-]*"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="ContactFormMessage" class="sr-only">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10"
                name="contact[body]"
                id="ContactFormMessage"
                placeholder="{{ 'contact.form.message' | t }}"
                class="form-control">
              </textarea>
            </div>
            <div class="form-group text-center">
              <label class="cb-container fs14 italic fw400 position-relative">
                I agree to the <a class="blue-text" href="tel:">Terms of Service</a>
                <input type="checkbox" name="terms">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-blue-light btn-rd btn-longer mont fw600 fs14">SUBMIT YOUR MESSAGE</button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
        







