<section class="page-hero">
  <div class="container ">
    <div class="row text-center mb-5">
      <div class="col-sm-12">
        <h2 class="work fs47 fw200 mt-3 mb-2">Support</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 offset-sm-1 border-right border-grey-light hide-mobile-768">
        <h3 class="mont fw600 lsp1 mb-3 fs20">Sales Support</h3>
        <p class="fs17 lh-17">Our dedicated Support team is available 24/7 to assist you with:</p>
        <ul class="fs17 pl-3">
          <li>
            <p class="mb-2">Product Features & Benefits</p>
          </li>
          <li>
            <p class="mb-2">Which pricing package is right for you</p>
          </li>
          <li>
            <p class="mb-2">Billing or Reseller Opportunities</p>
          </li>
        </ul>
        <p>{% include 'icon-chat-set-sm' %} <a href="{{'phone.link' | t}}" class="HeaderA-Level4 blue-text">{{'phone.number' | t}}</a></p>
        <p>{% include 'icon-chat-dots' %} <a href="tel:" class="HeaderA-Level4 border-hover--blue">Chat with Sales Support</a></p>
        <p>{% include 'icon-mail' %}<a href="mailto:" class="HeaderA-Level4 border-hover--blue">Email Us</a></p>
      </div>
      <div class="col-sm-5 pl-5 hide-mobile-768">
        <h3 class="mont fw600 lsp1 mb-3 fs20">Technical Support</h3>
        <p class="fs17 lh-17">Our dedicated Support team is available 24/7 to assist you with:</p>
        <ul class="fs17 pl-3">
          <li>
            <p class="mb-2">Product Set Up</p>
          </li>
          <li>
            <p class="mb-2">Configuration</p>
          </li>
          <li>
            <p class="mb-2">Technical Assistances</p>
          </li>
        </ul>
        <p>{% include 'icon-chat-set-sm' %} <a href="{{'phone.link' | t}}" class="HeaderA-Level4 blue-text">{{'phone.number' | t}}</a></p>
        <p>{% include 'icon-chat-dots' %} <a href="tel:" class="HeaderA-Level4 border-hover--blue">Chat with Sales Support</a></p>
        <p>{% include 'icon-mail' %}<a href="mailto:" class="HeaderA-Level4 border-hover--blue">Email Us</a></p>
      </div>
      <div class="col-md-6 border-bottom border-grey-light show-mobile-768 mb-3">
        <h3 class="mont font-weight-bold fs20">Sales Support</h3>
        <p class="fs17">Our dedicated Support team is available 24/7 to assist you with:</p>
        <ul class="fs17 pl-3">
          <li>
            <p class="mb-2">Product Features & Benefits</p>
          </li>
          <li>
            <p class="mb-2">Which pricing package is right for you</p>
          </li>
          <li>
            <p class="mb-2">Billing or Reseller Opportunities</p>
          </li>
        </ul>
        <p>{% include 'icon-chat-set-sm' %} <a href="{{'phone.link' | t}}" class="HeaderA-Level4 blue-text">{{'phone.number' | t}}</a></p>
        <p>{% include 'icon-chat-dots' %} <a href="tel:" class="HeaderA-Level4 border-hover--blue">Chat with Sales Support</a></p>
        <p>{% include 'icon-mail' %}<a href="mailto:" class="HeaderA-Level4 border-hover--blue">Email Us</a></p>
      </div>
      <div class="col-md-6 show-mobile-768">
        <h3 class="mont font-weight-bold fs20">Technical Support</h3>
        <p class="fs17">Our dedicated Support team is available 24/7 to assist you with:</p>
        <ul class="fs17 pl-3">
          <li>
            <p class="mb-2">Product Set Up</p>
          </li>
          <li>
            <p class="mb-2">Configuration</p>
          </li>
          <li>
            <p class="mb-2">Technical Assistances</p>
          </li>
        </ul>
        <p>{% include 'icon-chat-set-sm' %} <a href="{{'phone.link' | t}}" class="HeaderA-Level4 blue-text">{{'phone.number' | t}}</a></p>
        <p>{% include 'icon-chat-dots' %} <a href="tel:" class="HeaderA-Level4 border-hover--blue">Chat with Sales Support</a></p>
        <p>{% include 'icon-mail' %}<a href="mailto:" class="HeaderA-Level4 border-hover--blue">Email Us</a></p>
      </div>
    </div>
  </div>
</section>
<section class="knowledge-base my-5 py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="work fs47 fw200 mb-2">Knowledge Base</h2>
        <p class="w-85 mx-auto lh-17">Our Knowledge Base contains detailed, step-by-step instructions to help walk you through setup and configuration of your cWatch Web solution. Keyword search our <a href="tel:" class="blue-text">knowledge base</a>, or check our quick FAQs below. </p>
      </div>
    </div>
  </div>
</section>
<section id="faqs" class="faq mb-5 pb-5">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="work fs47 fw200 mb-2">Frequently Asked Questions</h2>
        <p class="w-85 mx-auto lh-17">Below are some of your most frequently asked questions</p>
        <select name="faq" id="" class="form-control w-50 mx-auto faq-select" v-model="faq" @change(faqSelect())>
          <option selected disabled value="">Show me FAQs for....</option>
          <option value="how">How do I..?</option>
          <option value="why">Why do I..?</option>
          <option value="when">When do I..?</option>
        </select>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <template v-if="faq === ''">
          <p class="HeaderB-Level4">Select a common subject above.</p>
        </template>
        <template v-else>
          <p class="HeaderB-Level4">Category A</p>
        </template>
      </div>
    </div>
    <div class="row" id="faq-accordion" role="tablist" data-children=".accordian-child">
      <template v-if="faq === 'how'">
        <div class="col-lg-12 accordian-child border-top border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#how" class="HeaderB-Level5 fs20" data-toggle="collapse">How do I...?</a> </p>
          <div class="collapse pt-3" id="how" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-top border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#why" class="HeaderB-Level5 fs20" data-toggle="collapse">How do I...?</a> </p>
          <div class="collapse pt-3" id="why" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#who" class="HeaderB-Level5 fs20" data-toggle="collapse">How do I...?</a> </p>
          <div class="collapse py-3" id="who" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
      </template>
      <template v-if="faq === 'why'">
        <div class="col-lg-12 accordian-child border-top border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#how" class="HeaderB-Level5 fs20" data-toggle="collapse">Why do I...?</a> </p>
          <div class="collapse py-3" id="how" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-top border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#why" class="HeaderB-Level5 fs20" data-toggle="collapse">Why do I...?</a> </p>
          <div class="collapse py-3" id="why" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#who" class="HeaderB-Level5 fs20" data-toggle="collapse">Why do I...?</a> </p>
          <div class="collapse py-3" id="who" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
      </template>
      <template v-if="faq === 'when'">
        <div class="col-lg-12 accordian-child border-top border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#how" class="HeaderB-Level5 fs20" data-toggle="collapse">When do I...?</a> </p>
          <div class="collapse py-3" id="how" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-top border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#why" class="HeaderB-Level5 fs20" data-toggle="collapse">When do I...?</a> </p>
          <div class="collapse py-3" id="why" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
        <div class="col-lg-12 accordian-child border-bottom border-grey-light mh-65 d-flex justify-content-center flex-column">
          <p class="m-0"><a href="#who" class="HeaderB-Level5 fs20" data-toggle="collapse">When do I...?</a> </p>
          <div class="collapse py-3" id="who" data-parent="#faq-accordion">
            <p class="fs17 lh-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum. Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus tristique pretium. Donec feugiat sollicitudin nibh ut condimentum.  Donec vel gravida orci, sed interdum libero. Ut id ante velit. Vestibulum nec ipsum mollis, sagittis turpis a, dapibus lectus. Quisque ligula ante, suscipit quis libero vitae, fringilla sagittis est. Morbi iaculis rhoncus velit tristique pretium. </p>
          </div>
        </div>
      </template>
    </div>
  </div>
</section>