<section class="page-hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p class="HeaderA-Level2">Reach an Optimal Security Posture Today</p>
        <p class="FirstFeatureParagraph mx-auto w-75">The benefits of real website security are boundless and now accessible to all. Since online threats and attacks are inevitable, you must do something. cWatch Web is the simple, affordable and proactive approach to eliminating threats and protecting your business online. Start reaping the benefits immediately.</p>
			</div>
		</div>
	</div>
</section>
<section class="main-shield">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center position-relative">
        {% include 'icon-main-shield' %}
        {% include 'icon-enhance_animated' %}
        {% include 'icon-enhance-shadow' %}
        {% include 'icon-detect_animated' %}
        {% include 'icon-protect_animated' %}
        {% include 'icon-protect-shadow' %}
        {% include 'icon-respond_animated' %}
      </div>
    </div>
  </div>
</section>
<section class="page-cta py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <p class="HeaderB-Level4">Enhanced Website Security and Performance with cWatch Web</p>
      </div>
      <div class="col-lg-5 offset-lg-1 mt-2">
        <a href="/pages/pricing" class="btn btn-blue btn-rd btn-longer my-2 text-uppercase mont fw600 fs15">see all service packages {% include 'icon-arrow-right-white' %} </a>
      </div>
      <div class="col-lg-5">
        <p class="FeatureText-Level3 mb-0 fw600 mt-2">Speak to a cWatch Web Team Member Today</p>
        <a href="tel:18884815388" class="HeaderB-Level4 blue-text">1 (888) 481-5388</a>
      </div>
    </div>
  </div>
</section>
<section class="biz-size py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="HeaderA-Level2 mb-1">Your Website is a Target <br> for Cyber Criminals</h2>
        <p class="FirstFeatureParagraph mx-auto w-75">Website security is critical to all companies of every size in every industry. Each company has unique needs and challenges, but the risks are the same. Data breaches, DDoS attacks, malware infections and ransomware can be catastrophic to all It’s time to batten down the hatches. </p>
      </div>
    </div>
    <div class="row icon-bombs position-relative">
      <div class="col-lg-4">
        {% include 'icon-small-biz_2' %}
        <div class="position-relative" style="top: -29px;">
          <h2 class="HeaderB-Level5 fs20 mb-2">Small Businesses</h2>
          <p class="ParagraphText-small lh-17">Think you’re too small for hackers to notice? Unfortunately, you’re the low hanging fruit. Don’t let one incident cripple you.</p>
          <p class="work">Try <span class="blue-text lato font-italic">cWatch Web Basic</span> Today</p>
          <button class="btn btn-blue btn-rd mont fs15  fw500" data-id="9453149683754" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="Add to Cart">Add to Cart</button>
        </div>
      </div>
      <div class="col-lg-4">
        {% include 'icon-med-biz' %}
        <h2 class="HeaderB-Level5 fs20 mb-2">Medium-Sized Businesses</h2>
        <p class="ParagraphText-small lh-17">Don’t have the budget or lack the knowledge and expertise to keep up? Outsource your protection without breaking the bank.</p>
        <p class="work">Try <span class="blue-text lato font-italic">cWatch Web Pro</span> Today</p>
        <button class="btn btn-blue btn-rd mont fs15  fw500" data-id="9638768345130" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="Add to Cart">Add to Cart</button>
      </div>
      <div class="col-lg-4">
        {% include 'icon-large-biz' %}
        <h2 class="HeaderB-Level5 fs20 mb-2">Large Businesses</h2>
        <p class="ParagraphText-small lh-17">Part of an in-house IT department that struggles to find time for updates and compliance? Extend your team to increase bandwidth.</p>
        <p class="work">Try <span class="blue-text lato font-italic fs19">cWatch Web Business</span> Today</p>
        <button class="btn btn-blue btn-rd mont fs15  fw500" data-id="9651122733098" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="Add to Cart">Add to Cart</button>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container text-center">
    <div class="row">
      <div class="col text-center">
        <h2 class="HeaderA-Level2 w-75 mx-auto mb-4">There’s Finally a Better Way to Keep Your Business Protected</h2>
        <p class="FirstFeatureParagraph my-4 w-75 mx-auto">To stay ahead of the threats and protect your online presence, cWatch Web effectively combines 20 years of cyber security experience, intelligence, technology and innovation to allow you to easily offload the burden of shielding your website or web application from a wide variety of dangers.</p>
        <p class="FirstFeatureParagraph w-75 mx-auto">Our Security-as-a-Service (SaaS) platform leverages Comodo’s state-of-the-art technology to safeguard your website or application flanked by certified security analysts that intervene at any sign of a threat to ensure proper mitigation and minimize impact.</p>
      </div>
    </div>
  </div>
</section>
<section class="covered-web pb-7">
  <div class="container">
    <div class="row">
      <div class="col mt-2">
        <h2 class="HeaderA-Level3 fw200 text-center mb-4">Here’s how cWatch Web has you covered...</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 form-group mt-2">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto FeatureHead-Level2">Respond</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center mb-2">
            {% include 'icon-group' %}
            <h2 class="HeaderA-Level4 w-75 mx-auto fw200 mb-4">Expert Monitoring and Assistance</h2>
          </div>
          <div class="col-lg-12">
            <ul class="green-bg-check">
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">24x7x365 Professional Monitoring</h3>
                <p class="ParagraphText-small">
                  cWatch Web is supported by Comodo’s team of certified security specialists who continuously monitor and maintain the integrity of your website.
                </p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Reduce Costs & Risk</h3>
                <p class="ParagraphText-small">With cWatch Web, there’s no upfront cost of hiring, training and managing an in-house cyber security team or added equipment.</p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Malware Removal and Remediation</h3>
                <p class="ParagraphText-small">Should your website become the victim of an attack, our team immediately contains the threat and gets your site back up and running.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <p class="ParagraphText-small font-italic blue-text mb-1">Find out more about</p>
          </div>
          <div class="col-sm-12 text-center">
            <a href="{{'site_links.csoc' | t}}" class="btn btn-blue btn-rd benefits-page-btn my-2 mont font-weight-bold fs11">CSOC Response</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group mt-2">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto FeatureHead-Level2">Protect</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center mb-2">
            {% include 'icon-green-fire-black-wall' %}
            <h2 class="HeaderA-Level4 w-75 mx-auto fw200 mb-4">Advanced <br> Threat Protection</h2>
          </div>
          <div class="col-lg-11 offset-lg-1 col-sm-12">
            <ul class="green-bg-check">
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Malware Defense</h3>
                <p class="ParagraphText-small">
                  cWatch Web is designed to defend against malicious code and deliver immediate alerts if an issue is detected.
                </p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Defense Against Hackers</h3>
                <p class="ParagraphText-small">cWatch Web optimises your website’s performance and makes it difficult for hackers to exploit vulnerabilities.</p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">OWASP Top 10 Protection</h3>
                <p class="ParagraphText-small">cWatch Web keeps your website or application protected from even the most common and destructive vulnerabilities.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <p class="ParagraphText-small font-italic blue-text mb-1">Find out more about</p>
          </div>
          <div class="col-sm-12 text-center">
            <a href="{{'site_links.waf' | t}}" class="btn btn-blue btn-rd benefits-page-btn my-2 mont font-weight-bold fs11">WAF Response</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2rem">
      <div class="col-md-6 form-group">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto FeatureHead-Level2">Detect</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center mb-3">
            {% include 'icon-green-defense' %}
            <h2 class="HeaderA-Level4 w-75 mx-auto fw200 mb-4">Proactive Defense and <br> Response</h2>
          </div>
          <div class="col-lg-12">
            <ul class="green-bg-check">
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Worry-Free Managed Security</h3>
                <p class="ParagraphText-small">
                  Implementing cWatch is simple—we manage your security without the need for updates or maintenance.
                </p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Innovative Threat Detection</h3>
                <p class="ParagraphText-small">cWatch scans for a variety of internal and external threats then prioritizes them for remediation by Comodo security experts</p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Improved Regulatory Compliance</h3>
                <p class="ParagraphText-small">If your website needs to comply with PCI or HIPAA rules, cWatch Web delivers the data protection and in-depth reporting you need to stay compliant.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <p class="ParagraphText-small font-italic blue-text mb-1">Find out more about</p>
          </div>
          <div class="col-sm-12 text-center">
            <a href="{{'site_links.siem' | t}}" class="btn btn-blue btn-rd benefits-page-btn my-2 mont font-weight-bold fs11">SIEM Response</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="row position-relative justify-content-center word-lines">
          <span class="col-1 border-bottom border-grey position-relative"></span>
          <span class="col-auto FeatureHead-Level2">Benefit</span>
          <span class="col-1 border-bottom border-grey position-relative"></span>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center mb-3">
            {% include 'icon-green-cloud-server' %}
            <h2 class="HeaderA-Level4 w-75 mx-auto fw200 mb-4">Improved Website<br> Performance</h2>
          </div>
          <div class="col-lg-11 offset-lg-1 col-sm-12">
            <ul class="green-bg-check ">
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Higher SEO Ranking</h3>
                <p class="ParagraphText-small">
                  The cWatch Web content delivery network improves the SEO ranking and security posture of your site.
                </p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Boosted Website Speed</h3>
                <p class="ParagraphText-small">Thanks to our lightning-fast servers and connectivity, website users enjoy shorter load times and quicker downloads.</p>
              </li>
              <li>
                <h3 class="HeaderB-Level5 fw600 fs20 mb-2">Better Content Delivery</h3>
                <p class="ParagraphText-small">cWatch Web ensures your website visitors get the content they need while protecting you from SEO attacks and malicious redirects.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <p class="ParagraphText-small font-italic blue-text mb-1">Find out more about</p>
          </div>
          <div class="col-sm-12 text-center">
            <a href="{{'site_links.cdn' | t}}" class="btn btn-blue btn-rd benefits-page-btn my-2 mont font-weight-bold fs11">CDN Response</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="benefits pt-7 mb-5">
  <div class="container text-center mt-3">
    <div class="row ">
      <div class="col-lg-12">
        <h2 class="HeaderA-Level3 mb-4 fw200">The benefits of cWatch Web keep on going…</h2>
      </div>
    </div>
    <div class="row mt-4 mx-0 px-4">
      <div class="col-lg-4">
        {% include 'icon-blue-thimb' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">Risk Free</h3>
        <p class="ParagraphText-small w-75 mx-auto">If you are not completely satisfied, we offer a full refund within 30 days.</p>
      </div>
      <div class="col-lg-4">
        {% include 'icon-blue-price-tag' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">Uncomplicated Pricing</h3>
        <p class="ParagraphText-small w-75 mx-auto">Besides being insanely affordable, just pick a plan and upgrade as you need.</p>
      </div>
      <div class="col-lg-4">
        {% include 'icon-blue-cloud-server' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">SaaS Simplicity</h3>
        <p class="ParagraphText-small w-75 mx-auto">cWatch Web is easy to setup with no complicated hardware installation required.</p>
      </div>
    </div>
    <div class="row mx-0 px-4">
      <div class="col-lg-4">
        {% include 'icon-blue-earth' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">Universal Compatibility</h3>
        <p class="ParagraphText-small w-75 mx-auto">Our website security solution is fully compatible with any CMS platform.</p>
      </div>
      <div class="col-lg-4">
        {% include 'icon-blue-windows' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">Easy-to-Use Interface</h3>
        <p class="ParagraphText-small w-75 mx-auto">Check in on your security status as often as you like via an intuitive cloud-based dashboard.</p>
      </div>
      <div class="col-lg-4">
        {% include 'icon-blue-shield' %}
        <h3 class="HeaderB-Level5 fs20 mb-4">Reduced IT Risks & Cost</h3>
        <p class="ParagraphText-small w-75 mx-auto">Instant protection with no expensive hardware to buy or staff to hire & train.</p>
      </div>
    </div>
  </div>
</section>
<section class="pricing mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="HeaderA-Level2 mb-5 mt-4" style="line-height: 1.4;">Get Complete Website Protection <br> For Less Than $1 A Day</p>
      </div>
    </div>
    <div class="row w-90 mx-auto">
      <div class="col-sm-4 pr-0 border-left border-top border-grey-light">
        <div class="price-box text-center mh-426 ">
          <div>
            <p class="mont darkish-blue-text font-weight-bold mb-0">Business</p>
            <p class="work fs63 price green-text fw500"> <span class="dollar-sign fs26 fw300">$</span>24<span class="fs20">.</span><span class="cents fs20 fw300">90</span></p>
          </div>
          <div>
            <p class="work fs15 darkish-blue-text m-0 ">$20.75/Mo. Paid Annually</p>
            <select name="" id="" class="darkish-blue-outline form-control">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <button class="btn btn-dark-blue btn-rd  my-3 mont fs15 text-uppercase fw500" data-id="9453149683754" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <div>
            <ul class="green-bg-check list-unstyled text-left fs16">
              <li>Professional Websites</li>
              <li>Small Business Websites</li>
              <li>Light Ecommerce Websites</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-0 border-left border-right border-top border-grey-light">
        <div class="price-box text-center position-relative mh-426 ">
          <div class="ribbon"><span>Best Seller</span></div>
          <div>
            <p class="mont blue-text font-weight-bold">Pro</p>
            <p class="work fs63 price blue-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>9<span class="fs20">.</span><span class="cents fs20 fw300">90</span></p>
          </div>
          <div>
            <p class="work fs15 blue-text m-0">$8.25/Mo. Paid Annually</p>
            <select name="" id="" class="blue-outline form-control">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <button class="btn btn-blue btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9638768345130" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <ul class="green-bg-check list-unstyled text-left fs16">
            <li>Corporate Websites</li>
            <li>Ecommerce Websites</li>
            <li>High-Value Brands</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 pl-0 border-right border-top border-grey-light">
        <div class="price-box text-center mh-426">
          <div>
            <p class="mont font-weight-bold light-blue-text">Basic</p>
            <p class="work fw600 fs63 light-blue-text m-0">FREE</p>
          </div>
          <div>
            <p class="work fs16 my-2">No credit card required</p>
          </div>
          <button class="btn btn-light-blue btn-rd mt-2 mb-3 mont fs15 text-uppercase fw500" data-id="9651122733098" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
          <ul class="green-bg-check list-unstyled text-left fs16">
            <li>Professional Websites</li>
            <li>Small to Medium Business</li>
          </ul>
        </div>
      </div>
      <div class="col-12 border border-grey px-0">
        <div class=" d-flex flex-row justify-content-center align-items-center py-4">
          <a href="/pages/pricing" class="mont fw300 fs15 border-bottom border-blue">View Detailed Features and Pricing {% include 'icon-blue-arrow-right' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pricing-mobile counting-numbers py-7 hidden mt-3 mb-6">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="btn-group my-3 btn-group-justified " role="group" aria-label="Price changer">
          <button type="button" class="btn btn-success fs15" data-index="0">Pro</button>
          <button type="button" class="btn btn-success fs15" data-index="1">Premium</button>
          <button type="button" class="btn btn-success fs15" data-index="2">Enterprise</button>
        </div>
        <div id="mobile-price-slider" class="carousel slide mobile mb-5" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item mh-700 active">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont green-text font-weight-bold mb-3">Pro</p>
                  <p class="work fs63 price green-text fw500"> <span class="dollar-sign fs26 fw300">$</span>9.<span class="cents fs20 fw300">90</span></p>
                  <select name="" id="" class="green-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Professional Websites</li>
                    <li>Small Business Websites</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">5 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">good</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9453149683754" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-swip-left' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item mh-700">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont green-text font-weight-bold mb-3">Premium</p>
                  <p class="work fs63 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>24.<span class="cents fs20 fw300">90</span></p>
                  <p class="work fs15 green-text m-0">$29.90/Mo. Paid Annually</p>
                  <select name="" id="" class="green-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Professional Websites</li>
                    <li>Small Business Websites</li>
                    <li>Light Ecommerce Websites</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        {% include 'icon-green-check' %}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">4 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">high</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-green-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9638768345130" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item mh-700">
              <div class="price-box border border-grey-light text-center">
                <div class="w-75 m-auto">
                  <p class="mont darkish-blue-text font-weight-bold mb-3">Enterprise</p>
                  <p class="work fs63 price fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>1,558.<span class="cents fs20 fw300">80</span></p>
                  <p class="work fs15 darkish-blue-text m-0">$129.90/Mo. Paid Annually</p>
                  <select name="" id="" class="darkish-blue-outline form-control">
                    <option value="">Month-to-Month</option>
                    <option value="">12 Months ($200 off)</option>
                  </select>
                  <ul class="green-bg-check list-unstyled text-left fs15 mt-3">
                    <li>Corporate Websites</li>
                    <li>Ecommerce Websites</li>
                    <li>High-Value Brands</li>
                  </ul>
                </div>
                <div class="row fs15 border-top border-grey-light">
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col text-left">
                        <p class="fw600 ">1 Domain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Malware Detection & Removal</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">Instant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Dedicated Expert Analyst</p>
                      </div>
                      <div class="col-3">
                        {% include 'icon-green-check' %}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2 grey-background">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Incident Response Time</p>
                      </div>
                      <div class="col-3">
                        <p class="mb-0 work  green-text">2 hrs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <div class="row">
                      <div class="col-9 text-left">
                        <p class="">Overall Protection</p>
                      </div>
                      <div class="col-3">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="m-0 text-uppercase fs9 grey-text">good</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-blue-gradient btn-rd my-3 mont fs15 text-uppercase fw500" data-id="9651122733098" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding to cart" data-current="protect site now">protect site now</button>
                  </div>
                  <div class="col-12">
                    {% include 'icon-blue-finger-right' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#mobile-price-slide" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-price-slide" data-slide-to="1"></li>
            <li data-target="#mobile-price-slide" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
      <div class="col-12 text-center my-5">
        <a class="mont fw300 fs15 border-bottom border-blue">View Detailed Features and Pricing {% include 'icon-blue-arrow-right' %}</a>
      </div>
    </div>
  </div>
</section>
<section class="page-cta--bottom">
  <div class="container">
    <div class="row pt-4 mt-4 pb-5 mb-5">
      <div class="col-lg-12 text-center">
        <h2 class="HeaderB-Level4 mb-4">Our Team is Ready to Help You Get Started with cWatch Web</h2>
        <p class="mont font-italic fs15 m-0">Speak to a cWatch Web Team Member Today</p>
        <a href="{{'phone.link' | t}}" class="HeaderB-Level4 blue-text">{{'phone.number' | t}}</a>
      </div>
    </div>
  </div>
</section>
