<section class="page-hero mb-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1 class="HeaderB-Level1 mb-3">{{ 'customer.login.title' | t }}</h1>
        {% form 'customer_login', class:'free-malware-form' %}
          {{ form.errors | default_errors }}
          <div class="form-group">
            <label for="CustomerEmail" class="label-hidden show-mobile-768">
              {{ 'customer.login.email' | t }}
            </label>
            <input type="email" name="customer[email]" id="CustomerEmail" class="form-control {% if form.errors contains 'email' %}input-error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off" autofocus>
          </div>
          <div class="form-group">
            <label for="CustomerPassword" class="label-hidden show-mobile-768">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password" name="customer[password]" id="CustomerPassword" class="form-control {% if form.errors contains 'password' %}input-error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-rd">Login</button>
          </div>
          <ul class="list-inline fs15 blue-text">
            <li class="list-inline-item">
              <a href="/">{{ 'customer.login.cancel' | t }}</a>
            </li>
            <li class="list-inline-item">
              <a href="/account/register">
                {{ 'layout.customer.create_account' | t }}
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#recover" class="recover">{{ 'customer.login.forgot_password' | t }}</a>
            </li>
          </ul>
        {% endform %}
      </div>
    </div>
  </div>
</section>
<section class="page-hero mb-4 hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="HeaderB-Level1">{{ 'customer.recover_password.title' | t }}</h2>
        <p class="fs17 fw500">{{ 'customer.recover_password.subtext' | t }}</p>
        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}
          <div class="form-group">
            <label for="RecoverEmail" class="label-hidden show-mobile-768">
              {{ 'customer.recover_password.email' | t }}
            </label>
            <input type="email" class="form-control " name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-rd">{{ 'customer.recover_password.submit' | t }}</button>
          </div>
          <a href="#" class="blue-text fs15 recover">Back to login</a>
        {% endform %}
      </div>
    </div>
  </div>
</section>
<!-- {% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %} -->
