<footer class="footer grey-background pb-7">
  <div class="container">
    <div class="row pt-7">
      <div class="col-md-4">
        <a href="{{'site_links.home' | t}}" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          <img src="{{ 'cwatch-logo.svg' | asset_url }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
        </a>
        <p class="darkish-blue-text fs13 fw600 mb-0">cWatch Store</p>
        <ul class="list-unstyled fs13 darkish-blue-text lh-2">
          <li><a href="{{'phone.link' | t}}">{{'phone.number' | t}}</a> Main</li>
          <li>(555) 555-5555 Support</li>
        </ul>
        <address itemscope itemtype="http://schema.org/PostalAddress">
          <ul class="list-unstyled fs13 darkish-blue-text lh-2">
            <li itemprop="streetAddress">146 2nd Street N. #201</li>
            <li><span itemprop="addressLocality">Saint Petersburg</span>, <span itemprop="addressRegion">FL</span> <span itemprop="postalCode">33704</span></li>
          </ul>
        </address>
      </div>
      <div class="col-md-4 offset-md-1">
        <p class=""><a href="/pages/benefits" class="fs14 font-weight-bold black-text text-uppercase lsp1">Benefits</a></p>
        <ul class="list-unstyled fs14">
          <li class="mb-3"><a href="{{'site_links.csoc' | t}}" class="border-hover--blue mont">Expert Monitoring & Assistance – CSOC</a></li>
          <li class="mb-3"><a href="{{'site_links.waf' | t}}" class="border-hover--blue mont">Advanced Threat Protection - WAF</a></li>
          <li class="mb-3"><a href="{{'site_links.cdn' | t}}" class="border-hover--blue mont">Improved Website Performance – CDN</a></li>
          <li class="mb-3"><a href="{{'site_links.siem' | t}}" class="border-hover--blue mont">Proactive Defense & Response – SIEM</a></li>
        </ul>
        <p><a href="/pages/partners" class="fs14 font-weight-bold black-text text-uppercase lsp1">Partner</a></p>
      </div>
      <div class="col-md-2 offset-md-1">
        <p class=""><a href="/pages/about-us" class="fs14 font-weight-bold black-text text-uppercase">About Us</a></p>
        <ul class="list-unstyled fs14">
          <li class="mb-3"><a href="{{'site_links.contact' | t}}" class="border-hover--blue mont">Contact</a></li>
          <li class="mb-3"><a href="{{'site_links.support' | t}}" class="border-hover--blue mont">Support</a></li>
        </ul>
        <p class=""><a href="{{'site_links.pricing' | t}}" class="fs14 font-weight-bold black-text text-uppercase lsp1">Pricing</a></p>
        <ul class="list-unstyled fs14">
          <li class="mb-3"><a href="{{'site_links.malware' | t}}" class="border-hover--blue mont">Malware Removal</a></li>
          <li class="mb-3"><a href="{{'site_links.compare' | t}}" class="border-hover--blue mont">Compare Products</a></li>
        </ul>
      </div>
      <!-- {% for link in linklists.main-menu.links %}v
        {% if forloop.first == true %}
          <div class="col-md offset-sm-1">
            
            <ul class="list-unstyled fs13">
            {% for sub_link in link.links %}
              <li><a class="grey-text" href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        {% else %}
          <div class="col">
            <p><a href="{{ link.url }}" class="fs13 font-weight-bold black-text text-uppercase">{{ link.title }}</a></p>
            <ul class="list-unstyled fs13">
            {% for sub_link in link.links %}
              <li><a class="grey-text" href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %} -->
    </div>
    <div class="row mt-5">
      <div class="col-sm-3 offset-sm-4 position-relative social-text">
        <div class="row position-relative word-lines darkish-blue-text">
          <span class="col border-bottom border-dark-blue position-relative"></span>
          <span class="col-md-auto mont fs15 fw500 lsp2">Follow Us</span>
          <span class="col border-bottom border-dark-blue position-relative"></span>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 offset-sm-4 social-bar text-center d-flex flex-row justify-content-around align-items-center">
        <a href="tel:">{% include 'icon-fb' %}</a>
        <a href="tel:">{% include 'icon-tw' %}</a>
        <a href="tel:">{% include 'icon-link' %}</a>
        <a href="tel:">{% include 'icon-gplus' %}</a>
        <a href="tel:">{% include 'icon-yt' %}</a>
      </div>
    </div>
  </div>
  <!-- <div>
    <small> {{ powered_by_link }}</small>
  </div> -->
</footer>
<!-- End -->
<!-- Mobile Footer -->


<section class="footer-mobile show-mobile-768">
  <div class="container-fluid py-5 px-0">
    <div class="row m-0">
      <div class="col p-0 text-center my-5">
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          <img src="{{ 'cwatch-logo.svg' | asset_url }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
        </a>
        <ul class="list-unstyled fs13 darkish-blue-text lh-2">
          <li><a href="{{'phone.link' | t}}">{{'phone.number' | t}}</a> Main</li>
          <li>(555) 555-5555 Support</li>
        </ul>
        <address itemscope itemtype="http://schema.org/PostalAddress">
          <ul class="list-unstyled fs13 darkish-blue-text lh-2">
            <li itemprop="streetAddress">146 2nd Street N. #201</li>
            <li><span itemprop="addressLocality">Saint Petersburg</span>, <span itemprop="addressRegion">FL</span> <span itemprop="postalCode">33704</span></li>
          </ul>
        </address>
      </div>
    </div>
    <div class="row m-0">
      <div class="col p-0">
          {% for link in linklists.main-menu.links %}
          <div id="footer-accordian"  role="tablist" data-children=".footer-accordian--child">
            {% if link.links != blank %}
              <div class="footer-accordian--child">
                <div class="border-top border-grey-light p-3">
                  <a class="darkish-blue-text text-uppercase" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                  <span class="plus float-right footer-link-change" data-toggle="collapse" href="#{{ link.title }}" aria-expanded="false" aria-controls="benefits-mobile"></span>
                </div>
                <div class="collapse p-3 " id="{{ link.title }}" data-parent="#footer-accordian">
                  <div class="row">
                    {% for sub_link in link.links %}
                      <div class="col-12">
                        <a href="{{sub_link.url}}">{{sub_link.title}}</a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% else %}
              <div class=" border-top border-grey-light p-3">
                <a href="{{ link.url }}" class=" darkish-blue-text text-uppercase">{{ link.title }}</a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row mx-0 position-relative word-lines darkish-blue-text justify-content-center mb-5">
      <span class="col-1 border-bottom border-dark-blue position-relative"></span>
      <span class="col-auto mont fs15 fw500 lsp2">Follow Us</span>
      <span class="col-1 border-bottom border-dark-blue position-relative"></span>
    </div>
    <div class="row m-0">
      <div class="col social-bar text-center d-flex flex-row justify-content-around align-items-center">
        <a href="tel:">{% include 'icon-fb' %}</a>
        <a href="tel:">{% include 'icon-tw' %}</a>
        <a href="tel:">{% include 'icon-link' %}</a>
        <a href="tel:">{% include 'icon-gplus' %}</a>
        <a href="tel:">{% include 'icon-yt' %}</a>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<section class="bottom">
  <div class="container text-center py-5">
    <div class="row fs13">
      <div class="col-12 darkish-blue-text">
        <a href="tel:" class="darkish-blue-text">Site Map</a>
        <a href="tel:" class="darkish-blue-text">Privacy Policy</a>
        <span class="copy">&copy; {{ 'now' | date: "%Y" }}  {{ 'layout.footer.copyright' | t }}</span>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
